
.parent {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
margin-left: 50px;
margin-top: 50px;
gap: 20px;
/* flex-direction: column; */
}


.parent img{
width: 350px;
border-radius: 10px;
border: 0.5px rgb(253, 124, 253);;
}

